$headerBackgroundCover: url('../img/m-h-day.jpg') no-repeat 0 80%;
$backgroundColorTheme: #21232E;
$underLinesColor: #14A0C7;
$buttonColor: #699900;
$textColor: #2C2F3C;
$bodyColor: #FFFFFF;
$gradient: linear-gradient(to right, rgba(101, 145, 17, 2) 0%, rgba(46, 92, 203, 2) 100%);
$map-fonts: (
        fontOne: ('Source Sans Pro', sans-serif),
        fontTwo: ('Hind', sans-serif),
        fontThree: ('Fresca', sans-serif)
);