$headerBackgroundCover: url('../img/m-h-night.jpg') no-repeat 0 80%;
$backgroundColorTheme: #3B3F50;
$underLinesColor: #FF4E33;
$buttonColor: #E3AC00;
$textColor: #FFFFFF;
$bodyColor: #21232E;
$gradient: linear-gradient(to right, rgba(217, 156, 6, 2) 0%, rgba(145, 46, 79, 1) 100%);
$map-fonts: (
        fontOne: ('Source Sans Pro', sans-serif),
        fontTwo: ('Hind', sans-serif),
        fontThree: ('Fresca', sans-serif)
);
